<!doctype html>
<title>iTennisPartner Admin (База спортсменов)</title>
[База спортсменов] [<a href="/clubs">Список клубов</a>]
<hr>
<table>
  <tr>
    <th>Имя</th>
    <th>Фамилия</th>
    <th>Телефон</th>
    <th></th>
  </tr>
  {% for item in sportsmen.list %}
  <form action="/sportsmen/update">
    <input type="hidden" name="id" value="{{ item.id }}">
    <tr>
      <td><input type="text" name="name" value="{{ item.name }}"></td>
      <td><input type="text" name="family" value="{{ item.family }}"></td>
      <td><input type="text" name="phone" value="{{ item.phone }}"></td>
			<td><input type="submit" value="обновить"></td>
    </tr>
  </form>
  {% endfor %}
  <form action="/sportsmen/create">
    <tr>
      <td><input type="text" name="name"></td>
      <td><input type="text" name="family"></td>
      <td><input type="text" name="phone"></td>
			<td><input type="submit" value="создать нового спортсмена"></td>
    </tr>
  </form>
</table>
